@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


body {
	color: #141716;
  font-family: 'Helvetica',YuGothic,'Yu Gothic','Calibri','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 14px;
	letter-spacing: 1px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	width: 960px;
	margin: 0 auto;
}

.works, .aboutme, footer {
	max-width: 100%;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 320px;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
	margin: 0 0 72px;
}

.gototop {
	color: #141716;
	margin-top: 24px;
	text-align: right;
}

.gototop a {
	color: #141716;
	text-decoration: none;
}

.gototop a:hover {
	color: #b8ceca;
	transition: all .3s;
}

.works,.aboutme {
	padding-top: 128px;
}




/* header */
header {
  background-color:rgba(255,255,255,.85);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: flex-start;
  height: 96px;
	width: 960px;
  position: fixed;
  top: 0;
  z-index: 10;
}

header ul {
	padding-left: 0;
}

header li {
	display: inline-block;
}

header li a {
	color: #141716;
	text-decoration: none;
	margin: 0;
	padding: 16px;
}

header li a:hover {
  color: #b8ceca;
	transition: all .3s;
}


/* Top */
.top {
	max-width: 100%;
	height: 480px;
	margin-top: 160px;
}


.top img {
	height: 480px;
	max-width: 100%;
	position: relative;
}

.sitename {
	background-color: rgba(255,255,255,.8);
	width: 800px;
	height: 320px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* works */
.works h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 16px 0;
}

.works p {
	font-size: 14px;
	line-height: normal;
}

.works-item {
	border: solid 1px #b8ceca;
	box-shadow: 0 0 8px #b8ceca;
	box-sizing: border-box;
	margin-top: 72px;
	padding: 16px;
}

.works-item a:hover {
	opacity: 0.7;
	transition: all .3s;
}

.works-item img {
	max-width: 100%;
}

/* about */
/* 280*280 */
.me-icon {
	text-align: center;
}

.me-desc {
	width: 720px;
	margin: 0 auto;
}

.me-desc h3 {
	border-left: solid 8px #b8ceca;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 16px;
	padding: 0 0 0  8px;
}

.me-desc p {
	margin-top: 8px;
}

/* footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	height: 96px;
	margin-top: 72px;
}

footer p {
  font-size: 14px;
}


/* 599px以下
-------------------------------------------------------------------------	*/
@media(max-width: 599px) {

	.wrapper {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 16px;
	}

	.gototop {
		text-align: center;
	}

	header {
		max-width: 100%;
	}

	h1 {
		font-size: 24px;
		font-weight: bold;
		line-height: 160px;
		text-align: center;
	}

	h2 {
		font-size: 18px;
		text-align: center;
		margin: 0 0 18px;
	}

	.works {
		padding-top: 128px;
	}


	/* header */
	header {
	  height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
	}


	/* Top */
	.top {
		height: auto;
		max-width: 100%;
		margin-top: 160px;
		position: relative;
	}

	.sitename {
		background-color: rgba(255,255,255,.8);
		max-width: 80%;
		height: 128px;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
	}

	/* works */
	.works-item {
		margin-top: 16px;
	}

	.works-item img {
		max-width: 100%;
	}

	/* about */
	/* 280*280 */
	.me-desc {
		max-width: 90%;
		margin: 0 auto;
	}

	.me-desc h3 {
		margin: 32px 0 16px;
	}

	.me-desc p {
		margin-top: 14px;
	}

	/* footer */
	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		height: 48px;
		margin-top: 18px;
	}

}
