@charset "UTF-8";


/* works */
.works {
	width: 100%;
	margin: 0 auto;
	padding-top: 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.works img {
	vertical-align: bottom;
}

/* works-desc */
.works-desc {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

.works-desc ul,ol {
	padding-left: 40px;
}

.works-desc p {
	padding: 24px;
}

/* footer */
footer {
	height: 96px;
	line-height: 96px;
	margin-top: 72px;
}

/* 599px以下
-------------------------------------------------------------------------	*/
@media(max-width: 599px) {

	.wrapper {
		box-sizing: border-box;
		max-width: 100%;
		padding: 0 16px;
	}

	header {
		max-width: 100%;
	}

	h1 {
		font-size: 24px;
		font-weight: bold;
		line-height: 160px;
	}

	.works {
		padding-top: 96px;
	}


	/* works */
	.works-desc {
		max-width: 100%;
	}

	.works img {
		max-width: 100%;
	}

}
